.bg-blue{
    background-color: #62a1cd;
}
.bg-light-blue{
    background-color: #a3c3dc;
}
.clock-block{
    border: 1px solid black;
    width: auto;
    background: black;
    color: red;
    font-size: 44px;
    text-align: center;
    padding: 20px 0;
}

.number-plate{
    border: 1px solid black;    
    background: #fff;
    font-weight: 900;
    padding: 34px;
    text-align: center;
    height: 50vh;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.winning-number{
    font-size: 100px;
    padding: 0;
    border: 5px solid black;
    border-radius: 50%;
    /* margin-top: 37px; */
    height: 200px;
    width: 200px;
    line-height: 190px;
}
.sub-box{
    border: 1px solid white;
    border-radius: 25px;
    width: 100%;
}
.sub-box-padding{
    padding-left: 56px;
    padding-top: 6px;
    padding-bottom: 6px;
}