<div class="card">
    <div class="card-body">
      <h4 class="header-title">Transactions</h4>
      <div class="data-tables datatable-dark">
        <table id="dataTable3" class="text-center">

          <thead class="text-capitalize">
            <tr>
              <th>Name</th>
              <th>Mobile Number</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users;index as i">
                <td>{{user.name}}</td>
                <td>{{user.mobile_number}}</td>
                <td>{{user.wallet_balance}}</td>
                <td>{{user.usertype}}</td>
                <td> 
                  <i class="fa fa-edit text-info pointer" (click)="editUser(user.id)"></i>&nbsp;
                  <i class="fa fa-history pointer"></i>&nbsp;
                  <i class="fa fa-trash text-danger pointer" (click)="deleteUser(user.id)"></i>
                </td>
              </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
