<div class="card">
    <div class="card-body">
      <!-- <h4 class="header-title">Dashboard</h4> -->
      <h4>Select Bet</h4>
      <select>
        <option value="">Select Bet</option>
        <option value="" *ngFor="let bet of bets">{{bet.id +'('+bet.start_time+')'}}</option>
      </select>
      <div class="data-tables datatable-dark">
        <table class="text-center table">
          <thead class="text-capitalize">
            <tr>
              <th>Bet</th>
              <th>Winner</th>
              <th>Name</th>
              <th>Mobile Number</th>
              <th>Start Time</th>
              <th></th>
            </tr>
          </thead>
          <!-- <tbody>
              <tr *ngFor="let report of betsReport| paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };index as i">
                <td>{{report.value}}</td>
                <td>{{report.winner}}</td>
                <td>{{report.name}}</td>
                <td>{{report.mobile_number}}</td>
                <td>{{report.start_time}}</td>
              </tr>
          </tbody> -->
        </table>
        <div class="d-flex justify-content-center">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
