<div class="card">
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <h4 class="header-title">Add User details</h4>
        <label for="example-text-input" class="col-form-label"
          >Name<span class="text-danger">*</span></label
        >
        <input
          class="form-control"
          type="text"
          placeholder="Name"
          id="example-text-input"
          name="name"
          formControlName="name"
        />
      </div>
      <div class="form-group" *ngIf="buttonLabel==='Add'">
        <label for="inputPassword" class=""
          >Password<span class="text-danger">*</span></label
        >
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <div class="form-group">
        <label for="state" class="col-form-label"
          >State<span class="text-danger">*</span></label
        >
        <select
          class="form-control"
          name="state"
          id="state"
          formControlName="state"
          (change)="getCity($event)"
        >
        <option value="">Select state</option>
        <option value="{{state.id}}" *ngFor="let state of stateData">{{state.name}}</option>
      </select>
      </div>
      <div class="form-group">
        <label for="city" class="col-form-label"
          >City<span class="text-danger">*</span></label
        >
        <select
          class="form-control"
          name="city"
          id="city"
          formControlName="city"
        >
        <option value="">Select city</option>
        <option value="{{city.id}}" *ngFor="let city of cityData">{{city.city}}</option>
      </select>
      </div>

      <div class="form-group">
        <label for="example-tel-input" class="col-form-label"
          >Mobile Number<span class="text-danger">*</span></label
        >
        <input
          class="form-control"
          type="tel"
          placeholder="Mobile Number"
          name="mobile_number"
          id="example-tel-input"
          formControlName="mobileNumber"
        />
      </div>
      <div class="form-group">
        <label for="wallet_balance" class="col-form-label"
          >Wallet Balance<span class="text-danger">*</span></label
        >
        <input
          class="form-control"
          type="number"
          placeholder="Wallet Balance"
          name="wallet_balance"
          id="example-tel-input"
          formControlName="walletBalance"
        />
      </div>
      <div class="form-group" *ngIf="buttonLabel==='Add' && userType=='superadmin'">
        <label for="usertype" class="col-form-label"
          >User Type<span class="text-danger">*</span></label
        >
        <select
          class="form-control"
          name="usertype"
          id="usertype"
          formControlName="userType"
        >
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
      </div>
      <button class="btn btn-primary mb-3">{{ buttonLabel }}</button>
    </form>
  </div>
</div>
