<div class="sidebar-menu">
    <div class="sidebar-header">
      <div class="logo">
        <a href="#"
          ><img src="../../../../assets/images/logo.png" alt="logo"
        /></a>
      </div>
    </div>
    <div class="main-menu">
      <div class="menu-inner">
        <nav>
          <ul class="metismenu" id="menu">
            <li class="active">
              <a href="javascript:void(0)" aria-expanded="true"
                ><i class="ti-dashboard"></i><span>Dashboard</span></a
              >
              <ul class="collapse">
                <li class="active">
                  <a href="/views/admin.hbs">Main Dashboard</a>
                </li>
                <li><a href="#">2 style</a></li>
                <li><a href="#">3 style</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)" aria-expanded="true"
                ><i class="fa fa-align-left"></i> <span>History</span></a
              >
              <ul class="collapse">
                <li><a class="text-grey pointer">Transaction</a></li>
                <li><a class="text-grey pointer">Bets</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)" aria-expanded="true"
                ><i class="fa fa-align-left"></i> <span>Management</span></a
              >
              <ul class="collapse">
                <li>
                  <a class="text-grey pointer"> Users</a>
                  <ul class="collapse">
                    <li><a routerLink="/admin/users" class="text-grey pointer">Manage User</a></li>
                  </ul>
                  <ul class="collapse">
                    <li><a class="text-grey pointer active">Add New User</a></li>
                  </ul>
                </li>

                <li><a href="/managenumbers">Numbers</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>